.about-section {
  display: grid;
  gap: 4em;
  max-width: var(--max-width);
}

.description {
  font-weight: 400;
    font-size: var(--h6-font-size);
    line-height: calc(var(--h6-font-size) * 1.4);
    letter-spacing: calc(var(--h6-font-size) * 0.02);
  text-align: center;
}

.description-long {
  font-size: inherit;
  display: none;
}

.description-short {
  font-size: inherit;
}

.photo {
  position: relative;
    width: 100%;
  max-width: 20em;
  height: auto;
  grid-row: 2;
  margin: auto;
    border-radius: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}

.skills-subheading {
  color: var(--accent-orange);
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4em, 1fr));
  padding: 0;
  gap: 1em;
  margin: 0;
  width: 100%;
}

.skills-list > li:hover {
  color: var(--accent-orange);
}

.skills-list > li {
  margin: auto;
}

@media (min-width: 550px) {
  .about-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  .skills {
    align-items: start;
    grid-row: 2;
    grid-column: span 2;
  }

  .photo {
  max-width: 50em;
        max-height: 30em;
    grid-row: 1;
  }

  .description {
    grid-row: 1;
    text-align: left;
  }

  .description-short {
    display: none;
  }
  .description-long {
    display: block;
  }

  .skills-subheading {
    margin: 0;
  }
}

@media (min-width: 1050px) {
  .about-section {
    grid-template-columns: 1fr 2fr;
  }
    
  .skills {
    grid-column: 2 / span 1;
    }

  .photo {
    grid-row: 1 / span 2;
  }
}
