.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15em;
  margin-top: -4em;
  padding: 0 2em 0 2em;
  position: relative;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  opacity: 0.3;
  filter: url(#noise);
  mask-image: linear-gradient(black 80vh, transparent 100vh);
  pointer-events: none;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0 ;
  object-fit: cover;
  object-position: center;
}

.navbar {
  display: flex;
  max-width: var(--max-width);
  padding: 0 2em;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(var(--background-rgb), 0.4);
  backdrop-filter: blur(10px);
  align-items: center;
  margin: 0;
  visibility: hidden;
}

.nav {
  display: none;
  margin: 0;
  margin-left: -1em;
  padding: 0;
  color: inherit;
}

.nav-link {
  background: none;
  color: var(--foreground-color);
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul.socials > li,
ul.nav > li {
  padding: 1em 0;
  position: relative;
  isolation: isolate;
  overflow: clip;
  cursor: pointer;
  user-select: none;
}

ul.nav > li {
  padding: 1em;
}

ul.nav > li:hover {
  color: var(--accent-orange);
}

ul.nav > li::after {
  content: "";
  position: absolute;
  top: 2.6em;
  left: calc(var(--progress) - 100%);
  height: 2px;
  width: 100%;
  background: var(--accent-orange);
}

ul.socials > li:hover {
  color: var(--accent-orange);
}

.socials {
  display: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

.hamburger {
  margin: 1em 0;
}

.footer {
  text-align: center;
  color: var(--accent-light-blue);
  margin: 10em 2em 3em 2em;
}

@media (min-width: 750px) {
  .header {
    top: 1em;
  }

  .navbar {
    border-radius: 10px;
    margin: 0 1em;
  }

  .nav {
    display: flex;
    gap: 0em;
  }

  .socials {
    display: flex;
    gap: 2em;
  }

  .hamburger {
    display: none;
  }
}
