.heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  width: 100%;
  height: 100vh;
    min-height: 450px;
    padding: 0 2em;
}

.title {
  display: grid;
    padding: 2em;
}

.mainHeading {
  visibility: hidden;
  font-weight: 900;
  line-height: 1em;
  font-size: var(--h3-font-size);
    color: var(--foreground-color);
    border-radius: 10px 10px 0 0;
    height: 100%;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem 0.5rem 2rem;
    position: relative;
}

.subHeading {
  visibility: hidden;
  font-weight: 600;
    padding: 0.5rem 2rem 1rem 2rem;
  color: var(--accent-orange);
  line-height: 1.2em;
  font-size: var(--h6-font-size);
    border-radius: 0 0 10px 10px;
    position:relative;
    height: 100%;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.resumeButton {
  visibility: hidden;
    margin-top:2em;
  font-size: var(--h6-font-size);
    position:relative;
}

@media (min-width: 750px) {
  .mainHeading {
    font-size: var(--h2-font-size);
  }
  .subHeading {
    font-size: var(--h6-font-size);
  }
}

@media (min-width: 1080px) {
  .mainHeading {
    font-size: var(--h1-font-size);
  }
  .subHeading {
    font-size: var(--h5-font-size);
  }
}
