.contact-section {
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
}

.contact-section > h4 {
  text-align: center;
  margin-bottom: 6rem;
}

.contact-grid {
  display: grid;
  gap: 1em;
}

.contact-grid > div {
  position: relative;
}

.inactive-input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  min-height: 2em;
  border: none;
  background: var(--accent-blue);
  color: inherit;
  padding: 1em;
  font-size: var(--p-font-size);
  transition: background-color 0.4s ease;
}

.submit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  gap: 1em;
}

.send {
  max-width: fit-content;
}

.message {
  resize: none;
  height: 16em;
  transition: background-color 0.4s ease;
}

.contact-grid > div > input:focus,
.message:focus,
.active-input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  min-height: 2em;
  border: none;
  color: inherit;
  padding: 1em;
  font-size: var(--p-font-size);
  transition: background-color 0.4s ease;
  background-color: var(--background-color);
  outline: solid 3px var(--accent-blue);
}

.invalid {
    background-color: var(--accent-orange);
}

.inactive-label {
  transition:
    all 0.4s ease,
    background-color 0.1s ease;
  position: absolute;
  left: 1em;
  top: 1em;
}

.contact-grid > div > input:focus ~ label,
.contact-grid > div > textarea:focus ~ label {
  transition:
    all 0.4s ease,
    background-color 0.2s ease 0.2s;
  color: var(--accent-light-blue);
  top: -0.5em;
  background-color: var(--background-color);
  font-size: 12px;
  padding: 0 0.5em;
}

.active-label {
  position: absolute;
  color: var(--accent-light-blue);
  top: -0.5em;
  left: 1em;
  background-color: var(--background-color);
  font-size: 12px;
  padding: 0 0.5em;
}

@media (min-width: 550px) {
  .send {
    padding: 0.5em 2.5em;
  }
  .contact-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .submit-container {
    grid-column: span 2;
  }

  .message-container {
    grid-column: span 2;
  }
}

@media (min-width: 900px) {
  .contact-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .message-container {
    grid-column: 4 / span 2;
    grid-row: span 2;
  }

  .message {
    height: 100%;
  }

  .subject-container {
    grid-row: 2;
    grid-column: span 3;
  }

  .submit-container {
    grid-column: span 5;
  }
}
